PyPDF2==1.26.0
python-docx==0.8.11
Pillow==8.3.2
pytesseract==0.3.8
google-api-python-client==2.26.1
google-auth==2.3.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
whoosh==2.7.4
tkinter==8.6
